<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="BLE_DEVICENAME" value=""></add>
    <add key="BLE_SCAN_TIMEOUT" value="5000"></add>
    <add key="BLE_VID" value="0x0456"></add>
    <add key="BLE_PID" value="0x0"></add>
  </appSettings>
</configuration>